In [202]:
# importing the module
import pandas as pd

# creating the DataFrames
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
					'B': ['B0', 'B1', 'B2', 'B3']})
display('df1:', df1)
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
					'B': ['B4', 'B5', 'B6', 'B7']})
display('df2:', df2)

# concatenating
display('After concatenating:')
display(pd.concat([df1, df2],
				keys = ['key1', 'key2']))
pd.merge(df1,df2)

'df1:'

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
3  A3  B3

'df2:'

    A   B
0  A4  B4
1  A5  B5
2  A6  B6
3  A7  B7

'After concatenating:'

         A   B
key1 0  A0  B0
     1  A1  B1
     2  A2  B2
     3  A3  B3
key2 0  A4  B4
     1  A5  B5
     2  A6  B6
     3  A7  B7

Empty DataFrame
Columns: [A, B]
Index: []

In [207]:
text_file = open("c.txt", "w+")
text_file.write("Line 1\n")
text_file.write("This is line 2\n")
text_file.write("That makes this line 3\n")
lines = ["L1\n","L2\n","L3\n"]
text_file.writelines(lines)
text_file = open("c.txt", "w+")
a=text_file.read()
print(a)
text_file.close()

Line 1
This is line 2
That makes this line 3
L1
L2
L3