In [1]:
import csv
row_list = [["Name", "City", "age","Py_score"],
             ["Xavier", "Mexico", 41,88],
             ['anne', "Torento", 20,79],
             ["Jana", "Prague", 33,81]]
with open('file.csv', 'w', newline='') as f:
    writer = csv.writer(f)
    writer.writerows(row_list)

In [2]:
import pandas as pd
f = pd.read_csv('file.csv')
print(f)
f.index

     Name     City  age  Py_score
0  Xavier   Mexico   41        88
1    anne  Torento   20        79
2    Jana   Prague   33        81

RangeIndex(start=0, stop=3, step=1)

In [3]:
import numpy as np
f.index = np.arange(10,13)
f.index

Int64Index([10, 11, 12], dtype='int64')

In [4]:
print(type(f.iloc[:,-1]))
print(type(f['Py_score']))
f.dtypes

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

Name        object
City        object
age          int64
Py_score     int64
dtype: object

In [5]:
f = f.astype(dtype={'Py_score':np.float32})
f.dtypes

Name         object
City         object
age           int64
Py_score    float32
dtype: object

In [6]:
f.shape

(3, 4)

In [7]:
f.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 10 to 12
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      3 non-null      object
 1   City      3 non-null      object
 2   age       3 non-null      int64
 3   Py_score  3 non-null      float32
dtypes: float32(1), int64(1), object(2)
memory usage: 108.0+ bytes

In [8]:
print(f.describe())
print("mean :",np.mean(f['age']))
print("Min :",np.min(f['age']))
print("Max :",np.max(f['age']))
print("Std :",np.std(f['age']))

             age   Py_score
count   3.000000   3.000000
mean   31.333333  82.666664
std    10.598742   4.725816
min    20.000000  79.000000
25%    26.500000  80.000000
50%    33.000000  81.000000
75%    37.000000  84.500000
max    41.000000  88.000000
mean : 31.333333333333332
Min : 20
Max : 41
Std : 8.65383665716478

In [9]:
if any(f['age']>np.mean(f['age'])):
    print(f['age'] )

10    41
11    20
12    33
Name: age, dtype: int64

In [10]:
df = pd.DataFrame(f)
criteria = df[ df.iloc[:,2]>= np.mean(f['age']) ]     
print(criteria)

      Name    City  age  Py_score
10  Xavier  Mexico   41      88.0
12    Jana  Prague   33      81.0

In [12]:
import pandas as pd
x= pd.Series(f.dtypes)
x
# x =f['age'] + pd.Series([1,100])
# x

Name         object
City         object
age           int64
Py_score    float32
dtype: object