In [2]:
import pandas as pd
data=pd.DataFrame({"products":["oppilume","dreaker","lotadilo","crosteron","wazzasoft","oppilume","dreaker","lotadilo","wazzasoft"],"colours":["blue","blue","blue","green","blue","green","green","green","red"],"custprice":[2345.89,2390.50,1820.00,3100.00,1784.50,2545.89,2590.50,2220.0,2084.50],"noncust_price":[2445.89,2495.50,1980.00,3400.00,1921.00,2645.89,2655.50,2140.00,2190.00]})

In [3]:
data

    products colours  custprice  noncust_price
0   oppilume    blue    2345.89        2445.89
1    dreaker    blue    2390.50        2495.50
2   lotadilo    blue    1820.00        1980.00
3  crosteron   green    3100.00        3400.00
4  wazzasoft    blue    1784.50        1921.00
5   oppilume   green    2545.89        2645.89
6    dreaker   green    2590.50        2655.50
7   lotadilo   green    2220.00        2140.00
8  wazzasoft     red    2084.50        2190.00

In [5]:
x=data.groupby("products")
print(x.mean())

           custprice  noncust_price
products
crosteron    3100.00        3400.00
dreaker      2490.50        2575.50
lotadilo     2020.00        2060.00
oppilume     2445.89        2545.89
wazzasoft    1934.50        2055.50

In [7]:
y=data.groupby("colours")
print(y.sum())

         custprice  noncust_price
colours
blue       8340.89        8842.39
green     10456.39       10841.39
red        2084.50        2190.00